body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.carousal-item {
 width:30%
}
/* body {
  background-color: rgb(235, 235, 235) */
/* } */
btn {
  text-shadow: 2px 2px 2px black;
}
body {
  height: 1200px;
  background-color: rgb(60, 117, 240); /* For browsers that do not support gradients */
  background-image: linear-gradient(rgb(243, 246, 253), rgb(131, 188, 253));

}
#mainpic {
  width:100px;
  box-shadow: 5px 5px 5px 5px black;
}
.navbar-brand {
  text-shadow: 2px 2px 2px 2px black;
}
.carousel-caption {
  bottom: initial; /* Reset the default positioning */
  top: 0; /* Position it at the top */
  font-size:40px;
  text-shadow:2px 2px 2px 2px black;
}
.ccaption {
  font-size: 1em;
  text-shadow: 2px 2px 2px black;
}
#image-size {
  width: 100px; /* or whatever size you desire */
  height: 100px;
  object-fit: cover; /* to ensure the aspect ratio of the images is maintained */
}
.img-100 {
  width: 150px;
  height: 150px;
  object-fit: cover;  
}